html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(pink, violet);
  margin: 0;
}

button {
  font-size: 12px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: skyblue;
  color: ghostwhite;
}

button:hover {
  background-color: darkblue;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  margin: auto;
}

form {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], input[type="date"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: darkgreen;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  width: 100%;
}

#tasks {
  list-style-type: none;
  padding: 0;
}

#tasks li {
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: grey;
}
